{% extends "userview/base.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center g-2">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card border-primary">
                <div class="card-body">
                    <h4 class="card-title">{{movie.title}}</h4>
                    {%for genre in movie.genres.all%}
                    <a href="genre/{{genre.pk}}" class="badge bg-success">{{genre}}</a>
                    {%endfor%}
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>
{%endblock%}